<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyBlogr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('main.about') }}">About</a></li>
            <li><a href="{{ url_for('main.login') }}">Login</a></li>
            <li><a href="{{ url_for('main.register') }}">Register</a></li>
            <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
            <li><a href="{{ url_for('main.create_post') }}">Create Post</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
